ico_adicionar RCDATA "assets\\icons\\ico_adicionar.png"
ico_anterior RCDATA "assets\\icons\\ico_anterior.png"
ico_atualizar RCDATA "assets\\icons\\ico_atualizar.png"
ico_cancelar RCDATA "assets\\icons\\ico_cancelar.png"
ico_cliente RCDATA "assets\\icons\\ico_cliente.png"
ico_config RCDATA "assets\\icons\\ico_config.png"
ico_excluir RCDATA "assets\\icons\\ico_excluir.png"
ico_page_inicial RCDATA "assets\\icons\\ico_page_inicial.png"
ico_pedido RCDATA "assets\\icons\\ico_pedidos.png"
ico_produto RCDATA "assets\\icons\\ico_produto.png"
ico_proximo RCDATA "assets\\icons\\ico_proximo.png"
ico_relatorio RCDATA "assets\\icons\\ico_relatorio.png"
ico_salvar RCDATA "assets\\icons\\ico_salvar.png"
